---
import astroLogo from '../assets/Bon-Train.png';
import background from '../assets/background.svg';
---
<div id="container">
	<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
	<main>
		<section id="nav">
      <nav>
        <a href="https://astro.build"
        ><img src={astroLogo.src} width="115" height="100" alt="Astro Homepage" /></a
        >
        <h1 id="info">
        We provide easy access to tools and knowledge for artists and artisans.
        </h1>
        <button>FR</button>
      </nav>


		</section>
	</main>