---
import astroLogo from '../assets/Bon-Train.png';
import background from '../assets/background.svg';
---

<div id="container">
	<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
	<main>
		<section id="hero">
			<div id="about">
				<h1>ABT</h1>
				<p>Atelier Bon Train is an inclusive woodworking studio that seeks to provide affordable access to woodworking tools and machinery for artisans and artists, and offer specialized services to visual artists. Established in the fall of 2020 by Rafaël Khoury, Kevin Husereault and Elizabeth Xu, Bon Train originated from a modest basement studio in the Plateau-Mont Royal. Khoury, Huserault and Xu set out to foster a unique, diverse and inclusive space for artists and woodworkers to share skills and knowledge. We welcome anyone to join us in our mission to serve the community better. </p>
			</div>
			<div id="machines">
				<h1>Machinery</h1>
				<p>We are equipped with all essential machinery for furniture and cabinetry fabrication. </p>
				<p>12” Sliding Compound Miter Saw

8” Helical Jointer

20” Helical Planer

13” Portable Planer

16” Band Saw

Cabinet saws (2)

Portable Table Saw

4” Belt Sander with spindle attachment

Wood Lathe

Compressor with pneumatic nailers

Portable power tools: Jigsaw, Orbital sanders, biscuit joiner

Selection of Clamps

Shared work benches</p>
			</div>
			<div id="sevices">
        <h1>Services</h1>
        <h2>Membership</h2>
        <p>Something about membership. To use the woodshop’s services, artists and artisans must hold a valid membership, payable annually*. They must also prove sufficient knowledge of basic woodworking skills and use of hand tools and machinery available in the woodshop. *Memberships are for individuals only and are non-transferable. Memberships may be revoked in case of non-compliance to regulations of use or safety measures in place in the woodshop. (took this from clark for an example)</p>
        <p>To view membership guidelines, LINK or someththing</p>
        <h2>Day/Hourly Rental</h2>
        <p>Something about days for this? if there is a calender or something</p>
        <p>$15/hour or $75/day</p>
        <p>Our space is available for hourly or daily rentals from Monday to Friday 9am - 5pm
</p>
      </div>

			<section id="links">

			</section>
		</section>
	</main>


</div>
